/* *{
    background-color: 
} */
.container{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 0px;
}

.array-bar{
    width: 6px;
    background-color: aqua;
    display: inline-block;
    margin: 0 2px;
}

.btn{
    margin: 10px 5px;
}